*{
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Roboto', sans-serif;
}

.cont-flex {
    display: flex;
    justify-content: space-between;
}
.mt {
    margin-top: 100px;
}
.gradient {
    background-image: linear-gradient(to right, #692146 15% , #f98ec5);
}
@media only screen and (min-width: 601px){
    nav , nav ul a {
        height: 100px;
        line-height: 100px;
        color: #6a2045;
        font-weight: bold;
    }
}

nav {
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 1000;

}

.logo-img{
    width: 100px;
}
nav .brand-logo {
    line-height: initial;
}
img.face-bg {
    height: 500px;
}
.container-max {
    width: 100%;
}
.collapsible {
     border-top: none;
     border-right: 1px solid #ddd;
     border-left: 1px solid #ddd;
}

.pop-up-registration {
    width: 50%;
    margin: 15px auto;
}
.card-image {
    width: 100%;
    height: 400px;
    background-size: cover;

}

.text-info{
    font-size: 20px;
    padding-top: 50px;
    color: #fff;
    text-align: center;
}